.body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 6vh;
}

.main_container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: monospace;

    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);

    place-items: center;
}

.app_box {
    width: 100%;
    height: 100%;

    grid-row: 1 / 13;
    grid-column: 1 / 13;
        
    display: grid;
    place-items: center;
}

.explore_box {
    position: fixed;

    z-index: 10;

    width: 50%;
    height: 50%;
        
    display: grid;
    place-items: center;

    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(1, 1fr);

    background-color: var(--cb-color-black);

    border-radius: 8px;

    opacity: 0;

    transition: height 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.explore_box_active {
    opacity: 1;
}

.explore_servers {
    width: 100%;
    height: 100%;
    grid-row: 2 / 4;

    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;

    overflow-x: hidden;
    overflow-y: scroll;
}

.server_list_holder {
    width: 100%;
    height: 100%;

    margin: auto;

    padding-left: 1vw;
    padding-right: 1vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.regex_error_message {
    font-size: 0.5em;
    color: var(--cb-color-red);
}

.explore_button {
    align-self: flex-end;
    margin: auto;
    margin-bottom: 2vh;
    
    width: 10vh;
    height: 10vh;

    border-radius: 100%;
    background: var(--cb-color-white);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 0.25s ease-in-out;
}

.explore_button:hover {
    background: var(--cb-color-cyan);
}

.explore_button_active {
    background: var(--cb-color-cyan);
}

.explore_button:hover {
    cursor: pointer;
}

.explore_button_icon {
    width: 90%;
    height: 90%;

    margin: 0 auto;
}

.background_blur {
    z-index: 5;

    position: fixed;
    background-color: var(--cb-color-black-transparent);

    width: 100%;
    height: 100%;
    
    opacity: 0;

    transition: opacity 0.2s ease-in-out;
}

.background_blur_active {
    opacity: 1;
}

.explore_input {
    width: 70%;
    font-size: 2vw;

    margin-right: 1em;

    padding: 10px;
    
    background-color: var(--cb-color-black);

    text-decoration: none;

    border-radius: 8px;

    border: 5px solid var(--cb-color-white);
    color: var(--cb-color-white);

    grid-row: 1;
}

.explore_input_server {
    width: 70%;
    font-size: 2vw;

    margin-left: 1em;

    padding: 10px;
    
    background-color: var(--cb-color-black);

    text-decoration: none;

    border-radius: 8px;

    border: 5px solid var(--cb-color-white);
    color: var(--cb-color-white);

    grid-row: 1;
}

.explore_box_join_button {
    width: auto;
    font-size: 2vw;
    
    padding: 10px;

    background-color: var(--cb-color-black);

    text-decoration: none;

    border-radius: 8px;

    border: 5px solid var(--cb-color-white);
    color: var(--cb-color-white);

    transition: width 0.25s ease-in-out, border 0.25s ease-in-out, color 0.25s ease-in-out;
}

.explore_box_join_button:hover {
    cursor: pointer;
}

.explore_box_server_join_button {
    width: auto;
    font-size: 2vw;
    
    padding: 10px;
    margin-top: 1em;

    background-color: var(--cb-color-black);

    text-decoration: none;

    border-radius: 8px;

    border: 5px solid var(--cb-color-white);
    color: var(--cb-color-white);
}

.explore_box_server_join_button:hover {
    cursor: pointer;
}

.explore_box_top {
    width: 100%;
    height: 100%;

    grid-row: 1;

    display:  inline-flex;
    align-items: center;
    justify-content: center;

    margin-top: 2vh;
}

.message_box {
    width: 100%;
    height: 70vh;

    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    overflow-x: hidden;
}

.message_box_reply {
    height: 50vh;
    display: grid;

    grid-template-rows: 1fr 12fr;
    grid-template-columns: 1fr;

    align-items: center;
    justify-content: center;
}

.message_box_reply_top {
    background: var(--cb-color-black-transparent-soft);
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;

    grid-row: 1;
    grid-column: 1;
}

.message_box_reply_bottom {
    background: var(--cb-color-black-transparent-soft);

    height: 100%;

    grid-row: 2;
    grid-column: 1;
}

.message_reply_box {
    height: 26vh;
    width: 100%;
    background-color: var(--cb-color-black-transparent-soft);
    display: flex;
    flex-direction: column;
}

.message_box_reply_text {
    margin-right: auto;
    font-size: 0.5em;

    padding: 0.5em;
    padding-left: 1em;
}

.message_box_wraper {
    width: 100%;

    height: 12vh;

    vertical-align: middle;

    background-color: var(--cb-color-black-transparent-soft);

    display: flex;

    align-items: center;
    justify-content: center;
}

.message_box_wraper_reply {
    grid-row: 3;
}

.msg_box {
    border-radius: 8px;

    width: calc(100% - 20px);
    height: auto;
}

.msg_typer {

    background-image: linear-gradient(135deg, black, gray);

    border:  none;

    height: auto;
    
    caret-color: var(--cb-color-white);
    background: transparent;

    width: 100%;
    border-radius: 8px;

    min-height: 5vh; 
    max-height: 24vh; 

    box-sizing: border-box;
    
    font-family: monospace;
    font-size: 0.7em;
    line-height: 1.2;

    resize: none;

    overflow-wrap: break-word; 

    color: var(--cb-color-white);
}

.main_box_wraper {
    width: 100%;
    height: 100%;

    grid-row: 1 / 33;
    grid-column: 1 / 2;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 12vh;
}

.main_box {
    width: 100%;
    height: 100%;

    background-color: var(--cb-color-gray);

    grid-column: 1;
    grid-row: 1;

    display: flex;
    flex-direction: column;
}

.user_box_wraper {
    z-index: 5;

    width: 100%;
    height: 100%;

    grid-column: 1 / 11;
    grid-row: 29 / 33;

    display: grid;

    align-items: end; 
}

.user_box {
    width: 100%;
    height: 12vh;

    background-color: var(--cb-color-black);

    display: inline-flex;

    align-items: center;
}

.user_box_username {
    font-size: 1em;
    background: linear-gradient(135deg, var(--cb-color-white), var(--cb-color-gray));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 1vw;

    user-select: text;
}

.user_box_settings {
    width: 6vh;
    height: 6vh;
    margin-left: auto;
    margin-right: 2vh;

    transition: transform 0.25s ease-in-out;
}

.user_box_settings_icon {
    transition: transform 0.25s ease-in-out;
    transform-origin: center;
}

.user_box_settings_icon:hover {
    cursor: pointer;

    transform-origin: center;
    transform: rotate(60deg);
}

.friends_box {
    width: 100%;
    height: 100%;

    grid-row: 2;
    grid-column: 1;
    
    display: grid;

    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

}

.friend_user_div {
    display: flex;
    align-items: center;
    height: 14vh;
    padding-left: 0.2em;
    padding-right: 0.2em;
    width: 90%;
    border-radius: 8px;

    transition: background 0.25s ease-in-out;
}

.friend_user_div:hover {
    cursor: pointer;
    background: var(--cb-color-black-transparent-soft);
}

.friend_user_div_holder {
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.friend_user_holder {
    margin-left: 0.2em;
}

.friend_user_avatar {
    width: 2em;
    height: 2em;
}

.friend_activity {
    font-size: 1.5rem;
    color: var(--cb-color-white-soft)
}

.hr_one {
    width: 2em;
    height: 5%;
    background: linear-gradient(90deg, transparent, var(--cb-color-white), transparent);
    border: 0;

    padding: 0;
    margin: 0;

    transition: width 0.25s;
}

.hr_two {
    width: 95%;
    height: 2px;
    background: var(--cb-color-white-transparent-soft);
    border: none;
    border-radius: 8px;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.hr_three {
    width: 75%;
    height: 2px;
    background: var(--cb-color-white-transparent-soft);
    border: none;
    border-radius: 8px;
}

.hr_one_active {
    width: 3em;
}

.friends_box_top_left_wraper {
    grid-row: 1;
    grid-column: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}
.friends_box_top_middle_wraper {
    grid-row: 1;
    grid-column: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}
.friends_box_top_right_wraper {
    grid-row: 1;
    grid-column: 3;

    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: column;
}

.friends_box_top_right {
    width: 80%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: column;
}
.friends_box_top_middle {
    width: 80%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: column;
}

.friends_box_top_left {
    width: 80%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: column;
}

.friends_box_button {
    text-decoration: none;
    color: var(--cb-color-white);
    background: transparent;
    border: none;
    padding: 0.2em;
    font-size: 0.5em;
}

.friends_box_button:hover {
    cursor: pointer;
}

.friends_box_bottom {
    grid-row: 2;
    grid-column: 1 / 4;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.friends_box_list_holder {
    display: flex;

    width: 100%;
    height: 100%;
    
    justify-content: center;
    align-items: center;
}

.friends_box_list_online {
    display: flex;

    justify-content: flex-start;
    flex-direction: column;

    width: 100%;
    height: 88vh;
    
    padding-top: 0.4em;
    padding-bottom: 2vh;

    grid-column: 1;
    grid-row: 1;
    
    overflow-x: hidden;
    overflow-y: scroll;
}


.friends_box_list_offline {
    display: flex;

    justify-content: flex-start;
    flex-direction: column;

    width: 100%;
    height: 88vh;
    
    padding-top: 0.4em;
    padding-bottom: 2vh;
    
    grid-column: 1;
    grid-row: 1;

    overflow-x: hidden;
    overflow-y: scroll;
}

.friends_box_list_pending {
    display: flex;

    justify-content: flex-start;
    flex-direction: column;
    
    width: 100%;
    height: 88vh;
    
    padding-top: 0.4em;
    padding-bottom: 2vh;
    
    grid-column: 1;
    grid-row: 1;
    
    overflow-x: hidden;
    overflow-y: scroll;
}

.friends_box_list_blocked {
    display: flex;

    justify-content: flex-start;
    flex-direction: column;

    width: 100%;
    height: 88vh;
    
    padding-top: 0.4em;
    padding-bottom: 2vh;
    
    grid-column: 1;
    grid-row: 1;
    
    overflow-x: hidden;
    overflow-y: scroll;
}

.friends_box_list_element {
    width: auto;
    height: 9vh;

    border: solid var(--cb-color-white) 2px;

    padding: 1vh;
    margin: 1vh;
    margin-top: 2vh;
}

.friends_menu_holder {
    display: flex;

    width: 100%;
    height: 100%;
    
    justify-content: center;
    align-items: center;
}

.friends_menu_button_holder {
    height: 100%;
    width: 80%;

    display: flex;
    justify-content: space-between;;
    align-items: center;
}

.friends_menu_button {
    padding: 1em;
    background: none;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;

    text-align: center;

    transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.friends_menu_button:hover {
    cursor: pointer;
    background: var(--cb-color-gray);
    box-shadow: 0 0 0 0.5em var(--cb-color-gray);
}

.friend_bos_list_name {
    margin-left: 2rem;
    padding-bottom: 0.2em;
}

.add_friend:hover {
    cursor: pointer;
    background: var(--cb-color-green-transparent);
    box-shadow: 0 0 0 0.5em var(--cb-color-green-transparent);
}

.app_icon {
    width: 12vh;
    height: 12vh;
    background-color: var(--cb-color-cyan);
}

.app_icon:hover {
    cursor: pointer;
}

.side_box {
    width: 100%;
    height: 100%;

    grid-row: 1 / 33;
    grid-column: 2 / 11;

    background-color: var(--cb-color-gray);

    display: grid;

    grid-template-rows: 12vh 24vh 1fr 12vh;
    grid-template-columns: 1fr;
}

.side_box_search {
    width: 100%;
    height: 100%;

    grid-row: 1;
    grid-column: 1;

    background-color: var(--cb-color-black);

    display: flex;

    align-items: center;
    justify-content: center;
}

.side_box_main {
    width: 100%;
    height: 100%;

    grid-row: 2 / 4;
    grid-column: 1;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 24vh 1fr;
}

.side_box_channels_wrapper {
    display: flex;

    grid-row: 2 / 4;
    grid-column: 1;

    flex-direction: column;

    background-color: var(--cb-color-white);
}

.side_box_channels {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    overflow-x: hidden;
    overflow-y: scroll;
}

.side_box_channels_server_info {
    display: flex;
    
    justify-content: space-between;
    align-items: center;

    height: auto;
    width: 100%;

    padding: 0.2em;

    color: var(--cb-color-black);
    background-color: var(--cb-color-black-transparent-softer);

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    font-size: 1em;
}

.side_box_channels_server_info p {
    margin-left: 1em;
}

.side_box_top {
    width: 100%;
    height: 100%;

    grid-row: 1;
    grid-column: 1;

    background-color: var(--cb-color-white);

    display: grid;
    
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

.side_box_bottom {
    display: flex;

    align-items: center;
    
    flex-direction: column;

    width: 100%;
    height: 100%;

    grid-row: 2;
    grid-column: 1;

    background-color: var(--cb-color-white);
}

.chat_box {
    width: 100%;
    height: 100%;

    grid-row: 1 / 33;
    grid-column: 11 / 33;
    background-color: var(--cb-color-gray);
    
    display: grid;
    place-items: center;

    grid-template-rows: 12vh 1fr;
    grid-template-columns: 1fr;
}

.channel_info_box {
    display: inline-flex;

    width: 100%;
    height: 100%;

    grid-row: 1;
    grid-column: 1;

    align-items: center;

    background-color: var(--cb-color-black);
}

.channel_info_box_channel {
    display: flex;
    width: 100%;
    height: 100%;

    align-items: center;

    flex-direction: row;
}

.channel_box_actions {
    margin-left: auto;
    margin-right: 1em;
}
.channel_info_box_users {
    margin-left: 0.5em;
    border: none;
    background: transparent;
    border-radius: 100%;
    width: 3em;
    height: 3em;
    box-sizing: border-box;

    transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.channel_info_box_users:hover {
    cursor: pointer;
    background: var(--cb-color-gray);
    box-shadow: 0 0 0 0.5em var(--cb-color-gray); 
}
.channel_info_box_users_inactive {
    margin-left: 0.5em;
    border: none;
    background: transparent;
    border-radius: 100%;
    width: 3em;
    height: 3em;
    box-sizing: border-box;

    transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.channel_info_box_users_inactive:hover {
    cursor: not-allowed;
    background: var(--cb-color-gray);
    box-shadow: 0 0 0 0.5em var(--cb-color-gray); 
}


.channel_box {
    width: 100%;
    height: 100%;

    grid-row: 2;
    grid-column: 1;
    
    display: flex;
    flex-direction: column;
    place-items: center;

    max-height: 88vh;

    overflow: hidden;
}

.channel_element_wraper {
    height: 6vh;
    width: 100%;

    padding-top: 1vh;
    padding-bottom: 6vh;

    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.channel_element {
    height: 6vh;
    width: auto;

    padding: 1vh;

    margin-left: 1em;
    background: var(--cb-color-black-transparent-soft);

    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 0.1s ease-in-out;
}

.channel_element_active {
    background: var(--cb-color-black-transparent);
}

.channel_element:hover {
    cursor: pointer;
    background: var(--cb-color-black-transparent);
}

.channel_name {
    font-size: 0.5em;
    color: var(--cb-color-black);
}

.new_channel_element {
    height: 6vh;
    width: min-content;

    padding: 1vh;

    margin-left: auto;
    margin-right: 1em;
    background: var(--cb-color-black-transparent-soft);

    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 0.1s ease-in-out;
}

.new_channel_element:hover {
    cursor: pointer;
    background: var(--cb-color-black-transparent);
}

.server_list_element {
    width: 12vh;
    height: 12vh;

    padding: 1vh;
}

.server_list_element_image {
    width: 100%;
    height: 100%;

    border-radius: 2px;

    transition: border-radius 0.25s;

    image-rendering: optimizeSpeed;
    object-fit: cover;
}

.server_list_element_image:hover {
    border-radius: 12px;
    cursor: pointer;
}


.server_list_element_image_active {
    border-radius: 12px;
}
.public_server_list_element {
    width: 90%;
    height: 10vh;

    border: solid var(--cb-color-white) 2px;
    border-radius: 2px;

    flex-shrink: 0;

    padding: 1vh;
    margin: 1vh;
    margin-top: 2vh;

    display: inline-flex;
}

.public_server_list_element:hover {
    cursor: pointer;
}

.public_server_list_element_text {
    font-size: 0.5em;
    padding-left: 0.2em;
}

.public_server_list_element_image {
    width: 8vh;
    height: 8vh;

    border-radius: 8px;

    object-fit: cover;
}

.flex_adjuster {
    width: 100%;
    height: 16vh;
    flex-shrink: 0;
}

.avatar_image {
    width: 10vh;
    height: 10vh;

    padding: 0.2em;

    float: left;
}

.user_button {
    height: 100%;
    width: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overflow_scroll {
    overflow: scroll;
}

.content_holder {
    position: relative;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    left: 5px;
}

.content_holder_m {
    position: relative;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    left: 5px;

    display: flex;
    flex-direction: column;
}

.content_holder2 {
    position: relative;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    left: 5px;
    top: 5px;
}

.msg_box_holder {
    background: linear-gradient(135deg, black, gray);

    position: relative;
    width: calc(100% - 10px);
    min-height: 5vh;
    height: auto;
    max-height: 24vh;
    left: 5px;
    top: 5px;

    border-radius: 8px;
    display: flex;
    flex-direction: column;

    overflow-y: auto;
}

.context_menu {
    background: var(--cb-color-black);

    border: solid 2px var(--cb-color-black-transparent);
    border-radius: 8px;

    padding: 0.2em;

    opacity: 0;

    position: absolute;
    transition: opacity 0.1s ease-in-out;
}

.context_menu_shown {
    opacity: 1;
}

.context_menu_button {
    width: 12em;
    padding: 0.4em;
    font-size: 1.5em;

    border: none;

    border-radius: 8px;

    background: var(--cb-color-black);

    transition: background 0.25s ease-in-out;
}

.context_menu_button:hover {
    background: var(--cb-color-gray);
    cursor: pointer;
}

.context_menu_div {
    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: column;
    
    gap: 0.2em;
}

.context_menu_button_text {
    color: var(--cb-color-white);
}

.contenteditable {
    max-height: 12vh;
    overflow: auto;
    height: auto;
}

.side_box_search_input_wraper {
    width: 100%;
    height: 100%;

    display: flex;

    align-items: center;
    justify-content: center;
}

.side_box_search_input {
    width: 90%;
    height: 80%;
    font-size: 1em;
    
    border: 0;
    border-radius: 8px;

    text-decoration: none;

    cursor: pointer;

    overflow: scroll;

    color: var(--cb-color-white);

    caret-color: transparent;

    background: linear-gradient(90deg, var(--cb-color-black), var(--cb-color-gray));
}

.side_box_search_input:focus {
    border: none;
    outline: none;
}

.friends_button_wraper {
    width: 100%;
    height: 100%;

    grid-row: 1;
    grid-column: 1;

    display: flex;

    align-items: center;
    justify-content: center;
}

.friends_button {
    width: 90%;
    height: 80%;

    text-align: left;

    border: 4px solid var(--cb-color-black-transparent);
    border-radius: 8px;

    cursor: pointer;

    background: var(--cb-color-black-transparent);

    transition: background 0.5s;
}

.friends_button:hover {
    background: var(--cb-color-black-transparent-soft);
}

.friends_button_image {
    float: left;
}

.hl_hashtag {
    color: var(--cb-color-gray);
    font-style: italic;
}

.caret {
    position: absolute;
    width: 5px;
    height: 80%;
    top: 2.5px;
    background-color: var(--cb-color-black);
    transition: all 0.1s ease-out;
    opacity: 1;
    animation: blink 1s ease-in-out infinite;
    transition: opacity 0.25s;
}

.starti {
    position: absolute;
    left: 0;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}

.message {
    display: flex;
    align-items: flex-start;
    font-size: 1.5rem;
    color: var(--cb-color-white);
    transition: background-color 0.1s;
    padding: 1em;
    user-select: text;
    flex-direction: column;
}

.message_inner {
    display: flex;
    flex-direction: row;
}

.message_reply_inner {
    padding-top: 0.2em;

    width: 100%;

    display: flex;
    flex-direction: row;
    padding-left: 1.5em;
    justify-content: center;
}

.message_reply_inner_holder {
    display: flex;
    flex-direction: row;
    justify-content: center;

    border-radius: 8px;

    padding: 0.2em;

    margin-left: 0.2em;

    transition: background 0.25s ease-in-out;
}

.message_reply_inner_holder:hover {
    cursor: pointer;
    background-color: var(--cb-color-black-transparent);
}

.message:hover {
    background-color: var(--cb-color-black-transparent-softer);
}

.reply_message {
    display: flex;
    align-items: flex-start;
    font-size: 1.5rem;
    color: var(--cb-color-white);
    transition: background-color 0.1s;
    padding: 1em;
    max-height: 20vh;
    overflow: scroll;
    user-select: text;
}

.message_useravatar_holder {
    height: 3em;
    width: 3em;
    margin-right: 1em;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
}

.useravatar_holder {
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
}

.auto_useravatar_holder {
    height: max-content;
    width: max-content;
    max-height: 12vh;
    max-width: 12vh;
    margin-right: 1em;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
}

.server_useravatar_holder {
    height: 1em;
    width: 1em;
    margin-right: 0.25em;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
}

.message_reply_useravatar_holder {
    height: 2em;
    width: 2em;
    margin-right: 1em;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
    margin-left: 1em; 
}

.message_useravatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.message_useravatar:hover {
    cursor: pointer;
}

.message_user_holder {
    display: flex;
    flex-direction: column;
}

.message_username {
    font-size: 2rem;
    color: var(--cb-color-black);
    margin: 0;

    width: min-content;

    user-select:  text;
}

.message_username:hover {
    cursor: pointer;
}

.message_content {
    font-size: 2rem;
    color: var(--cb-color-white);
    margin: 0;
    width: 50vw;

    word-wrap: break-word;
    overflow-wrap: break-word;

    white-space: pre-wrap;

    user-select: text;
}

.message_content * {
    user-select: text;
}

.message_reply_content {
    font-size: 2rem;
    color: var(--cb-color-white);
    margin: 0;
    width: 40vw;
    
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: hidden;

    user-select: text;
}

.message_timestamp_holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.message_timestamp {
    font-size: 1rem;
    color: var(--cb-color-black-transparent);
    margin: 0;
    padding-left: 1em;

    user-select: text;
}

.message_content_holder {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.message_actions_holder {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: 1em;

    height: 1.5em;
    padding: 0.2em;

    border-radius: 8px;

    opacity: 0;

    background: var(--cb-color-black-transparent);

    transition: opacity 0.1s ease-in-out;
}

.message_actions_holder_reply {
    left: 1vw;
}

.message_actions_holder_active {
    opacity: 1;
}

.message_actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.message_action {
    display: flex;

    justify-content: center;
    align-items: center;

    color: var(--cb-color-white);
    background: transparent;

    border-radius: 2px;
    height: 1.2em;

    transition: background 0.25s ease-in-out;
}

.message_action:hover {
    background: var(--cb-color-gray);
    cursor: pointer;
}

.message_action_delete {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 0;
    opacity: 0;
    transition: max-width 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.message_action_delete_active {
    visibility: visible;
    max-width: 1.5em;
    opacity: 1;
}

.friend_user_div_actions {
    margin-left: auto;
    margin-right: 1em;
}

.friend_user_div_actions_div {
    background: none;
    border: none;
    border-radius: 100%;
    box-sizing: border-box;
    
    margin-left: 0.2em;

    padding: 0;
    line-height: 0;

    transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.friend_user_div_actions_div:hover {
    cursor: pointer;
    background: var(--cb-color-black);
    box-shadow: 0 0 0 0.2em var(--cb-color-black);
}

.vl {
    border-left: 2px solid var(--cb-color-white);
    border-radius: 8px;
    height: 0.8em;
    margin-left: 10px;
    margin-right: 10px;
}

.icons_clear {
    
}

.icons_clear:hover {
    cursor: pointer;
}

.icons_delete {
    transition: fill 0.1s ease-in-out;
}

.edit_message_textarea {
    margin: 0;
    width: 50vw;
    height: fit-content;
    font-size: 1.5em;
    resize: none;
}

.settings_box {
    z-index: 10;
    display: grid;
    position: absolute;

    width: 100%;
    height: 100%;

    background: transparent;

    grid-template-rows: 1fr;
    grid-template-columns: 2fr 5fr;

    transition: background 0.25s ease-in-out;
}

.settings_box_active {
    background: var(--cb-color-gray);
}

.settings_box_left {
    display: flex;

    grid-row: 1;
    grid-column: 1;

    background: var(--cb-color-black-transparent-soft);

    flex-direction: column;
    align-items:  center;
    justify-content: flex-start;
}

.settings_options_container {
    width: 100%;
    height: 78vh;

    display: flex;
    
    flex-direction: column;
    align-items:  center;
    justify-content: flex-start;

    overflow-x: hidden;
    overflow-y: scroll;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.settings_box_right {
    display: flex;
    grid-row: 1;
    grid-column: 2;

    overflow-y: scroll;
}

.settings_box_close {
    margin-left: auto;
    margin-right: 1em;
    margin-left: 1em;

    box-sizing: border-box;

    background: none;
    border: none;

    width: 12vmin;
    height: 12vmin;

    border-radius: 100%;
    text-align: center;

    margin-top: 1em;

    aspect-ratio: 1;

    transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.settings_box_close:hover {
    cursor: pointer;
    background: var(--cb-color-black-transparent);
    box-shadow: 0 0 0 0.2em var(--cb-color-black-transparent);
}

.server_users {
    display: flex;

    width: 100%;
    height: 100%;

    background-color: var(--cb-color-black);

    grid-row: 1 / 33;
    grid-column: 33 / 34;
    
}

.server_users_content {
    display: grid;
    
    grid-template-rows: 12vh 1fr;
    grid-template-columns: 1fr;

    place-items: center;

    padding-left: 1em;
    padding-right: 1em;

    width: 100%;
    height: 100%;
}

.server_users_top {
    display: flex;

    align-items: center;

    width: 100%;
    height: 100%;

    grid-row: 1;
    grid-column: 1;
}

.server_users_bottom {
    width: 100%;
    height: 100%;

    grid-row: 2;
    grid-column: 1;
}

.server_users_text {
    
}

.server_users_user {
    display: inline-flex;
    flex-direction: row;
}

.server_user_username {
    font-size: 2rem;
    color: var(--cb-color-white);
    margin: 0;

    width: min-content;
}

.flex_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.flex_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


.flex_row_normal {
    display: flex;
    flex-direction: row;
}

.direct_message {
    display: flex;

    justify-content: center;
    align-items: center;

    background: transparent;

    border-radius: 8px;

    width: 90%;
    height: 14vh;

    margin-top: 1em;
    
    justify-content: flex-start;
    align-items: center;

    transition: background 0.25s ease-in-out;
}

.direct_message:hover {
    cursor: pointer;
    background: var(--cb-color-black-transparent-soft);
}

.direct_message_active {    
    background: var(--cb-color-black-transparent-soft);
}

.direct_messages_text {
    color: var(--cb-color-black);
}

.direct_message_content {
    width: 100%;
    height: 100%;

    display: inline-flex;
    align-items: center;
    justify-content: flex-start;

    flex-direction: row;

    padding: 0.2em;
    padding-left: 0.5em;
}

.direct_message_useravatar_holder {
    width: 2em;
    height: 2em;

    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
}

.direct_message_user_username {
    font-size: 2rem;
    color: var(--cb-color-black);
    margin: 0;
    margin-left: 0.2em;

    width: min-content;
}

.settings_search {
    resize: none;

    width: 90%;
    height: 8vh;

    border: 0;
    border-radius: 8px;

    text-decoration: none;
    text-overflow: clip;
    text-align: left;

    font-size: 0.5em;
    padding: 2vh;

    margin-top: 0.2em;

    word-wrap: normal;

    cursor: text;

    overflow: hidden;

    color: var(--cb-color-white);

    background: var(--cb-color-black-transparent);

    transition: background 0.25s ease-in-out;
}

.settings_search:hover {
    background: var(--cb-color-black);
}

.settings_search:focus {
    background: var(--cb-color-black);
}

.settings_search::placeholder {
    opacity: 1;

    will-change: opacity;

    transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
}

.settings_search:focus::placeholder {
    opacity: 0;
}


.settings_nav_header {
    font-size: 1em;
    color: var(--cb-color-white-transparent-soft);
}

.settings_nav_element {
    width: 80%;
    padding: 0.2em;

    margin-top: 0.5em;
    margin-bottom: 0.5em;

    text-align: center;

    background: transparent;
    box-sizing: border-box;
    
    font-size: 0.8em;
    color: var(--cb-color-white);

    box-shadow: none;

    border-radius: 8px;

    transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.settings_nav_element:hover {
    cursor: pointer;
    background: var(--cb-color-black-transparent-soft);
    box-shadow: 0 0 0 0.2em var(--cb-color-black-transparent-soft);
}

.settings_nav_element_active {
    background: var(--cb-color-black-transparent-soft);
    box-shadow: 0 0 0 0.2em var(--cb-color-black-transparent-soft);
}

.pad {
    margin-top: 2em;
}

.small_pad {
    margin-top: 1em;
}

.pad1 { margin-top: 1em; }
.pad2 { margin-top: 0.8em; }
.pad3 { margin-top: 0.6em; }
.pad4 { margin-top: 0.4em; }
.pad5 { margin-top: 0.2em; }

.settings_user_button {
    height: 6vh;
    width: 80%;

    margin-top: 0.2em;

    background: var(--cb-color-cyan);
    box-sizing: border-box;
    box-shadow: 0 0 0 0.1em var(--cb-color-cyan);

    border: none;
    border-radius: 8px;

    font-size: 0.5em;

    transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.settings_user_button:hover {
    cursor: pointer;
    background: var(--cb-color-blue);
    box-shadow: 0 0 0 0.2em var(--cb-color-blue);
}

.setting_page_header {
    font-size: 1.5em;
    color: var(--cb-color-white);

    padding-top: 0.5em;
}

.settings_page {
    height: 100%;

    margin-left: 6vw;

    overflow-y: scroll;
    width: fit-content;
}

.appearance_user {
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.appearance_user_information {
    margin-left: auto;
    margin-bottom: auto;
    padding-right: 0.2em;
    color: var(--cb-color-black);
    font-size: 0.5em;

    user-select: text;
}

.appearance_user_box {
    display: flex;

    width: 90%;
    height: 72vh;

    margin-top: 1em;

    padding: 1em;
    
    justify-content: center;
    align-items: center;

    border: 6px solid var(--cb-color-black);
    border-radius: 8px;
}

.appearance_user_avatar {
    margin-left: 0.2em;
}

.appearance_useravatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.appearance_username {
    font-size: 2rem;
    color: var(--cb-color-black);
    margin: 0;

    width: min-content;

    user-select:  text;
}

.setting_field_input_color {
    display: block;

    opacity: 0;
    line-height:0;

    max-height: 0;

    zoom: 1;

    overflow: hidden;

    transition: max-height 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.setting_field_input_color_active {
    max-height: 42vh;

    opacity: 1;
}

.setting_field_input_color_button {
    border: none;
    background: none;
}

.setting_field_input_color_button:hover {
    cursor: pointer;
}

.setting_field_input_color_button_image {
    margin-left: 0.2em;
}

.setting_field_name {
    padding-bottom: 0.2em;
    font-size: 1em;
}

.setting_field_input_text {
    width: 80%;
    padding: 0.2em;
    box-sizing: border-box;

    margin: 0.2em;

    font-size: 0.8em;
    line-height: 1.5;

    border: none;
    border-radius: 8px;

    outline: none;

    text-decoration: none;

    background: var(--cb-color-black-transparent-softer);

    transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.setting_field_input_text:focus {
    background: var(--cb-color-black-transparent-soft);
    box-shadow: 0 0 0 0.2em var(--cb-color-blue);
}

.text_small {
    resize: none;
    width: 40%;
    height: 2em;
}

.text_readonly:hover {
    cursor: not-allowed;
}

.appearance_symbol {
    color: var(--cb-color-black);
}

.setting_save_div {
    position: fixed;
    display: flex;

    bottom: 1em;
    right: 15%;

    justify-content: center;
    align-items: center;

    text-align: left;

    padding: 0.2em;

    border-radius: 8px;

    border: none;

    opacity: 0;

    width: 50%;

    transform: translateY(1vh);

    background: var(--cb-color-black-transparent);

    pointer-events: none;

    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.setting_save_div_active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.setting_save_text {
    font-size: 1em;
    border: none; 
    border-radius: 8px;
}

.setting_save_button {
    font-size: 1em;

    padding: 0.2em;
    
    background: var(--cb-color-green);
    border: none;
    border-radius: 8px;
    margin-left: auto;

    margin-right: 0.2em;
}

.setting_save_button:hover {
    cursor: pointer;
}

.setting_save_text {
    margin-left: 0.2em;
}

.writing_users_div {
    display: flex;

    width: 100%;
    height: 6vh;

    grid-row: 3;
    grid-column: 1;

    background: var(--cb-color-black-transparent-soft);
}

.writing_users_text {
    font-size: 0.5em;

    color: var(--cb-color-white);

    overflow-x: hidden;

    user-select: text;
}

.channel_box_vc {
    display: flex;

    overflow:auto;

    width: 100%;

    align-items: center;
    justify-content: center;

    flex-direction: column;

    background: var(--cb-color-black);

    resize: vertical;
}

.hr_resize {
    height: 8px;
    background: var(--cb-color-black);
    width: 100%;
    border: none;

    align-self: flex-end;
}

.channel_box_vc_top {
    display: inline-flex;
    margin-bottom: auto;
}

.vc_actions_left {
    display: inline-flex;
    margin-left: 1em;
    margin-right: auto;
}

.vc_actions_middle {
    display: inline-flex;
    margin-left: 1em;
    margin-right: 1em;
    width: max-content;
    align-items: center;
    justify-content: center;
}

.vc_actions_right {
    display: inline-flex;
    margin-right: 1em;
    margin-left: auto;
}

.vc_actions_main {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.channel_box_vc_middle {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.channel_box_vc_bottom {
    display: inline-flex;
    margin-top: auto;
}


.vc_icon {
    margin: 0.5em;
    border: none;
    background: transparent;
    border-radius: 100%;
    width: 1em;
    height: 1em;
    box-sizing: border-box;

    transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.vc_icon:hover {
    cursor: pointer;
    background: var(--cb-color-gray);
    box-shadow: 0 0 0 0.25em var(--cb-color-gray); 
}

.vc_icon_leave {
    margin: 0.5em;
    padding: 0.2em;
    border: none;
    background: var(--cb-color-red-dark);
    border-radius: 100%;
    width: 1.2em;
    height: 1.2em;
    box-sizing: border-box;

    transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.vc_icon_leave:hover {
    cursor: pointer;
    background: var(--cb-color-red);
}


.vc_icon_inactive {
    margin: 0.5em;
    border: none;
    background: transparent;
    border-radius: 100%;
    width: 1em;
    height: 1em;
    box-sizing: border-box;

    transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.vc_icon_inactive:hover {
    cursor: not-allowed;
    background: var(--cb-color-gray);
    box-shadow: 0 0 0 0.25em var(--cb-color-gray); 
}

.vc_icon_overlap_holder {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin: 1em;
    margin-left: 0em;
    margin-right: 0;

    pointer-events: none;
}

.vc_icon_overlap {
    border: none;
    background: var(--cb-color-white);
    border-radius: 1px;
    width: 1em;
    height: 0.15em;
    box-sizing: border-box;

    transform: rotateZ(45deg);

    pointer-events: none;
    transition: width 0.25s ease-in-out;
}

.vc_icon_holder {
    display: grid;
}

.vc_icon_holder > * {
    grid-column-start: 1;
    grid-row-start: 1;
}

.animate_svg_icon {
    transition: x1 0.25s ease-in-out, y1 0.25s ease-in-out, x2 0.25s ease-in-out, y2 0.25s ease-in-out;
}

.hover_tooltip {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    max-width: 12vw;
    height: min-content;
    padding: 0.2em;
    background: var(--cb-color-black-transparent);
    border-radius: 8px;
    font-size: 1vw;

    opacity: 1;
    
    z-index: 10;

    pointer-events: none;

    transition: opacity 0.25s ease-in-out, left 0.1s ease-in-out, top ease-in-out;
}

/*
.hr_resize:hover {
    cursor: n-resize;
}
*/

.loading_page {
    position: absolute;
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background: var(--cb-color-black);
}

.loading_page_element {
    shape-rendering: auto;
    display: block;
    background: transparent;

    width: min-content;
    height: min-content;

    opacity: 1;

    transition: opacity 0.5s ease-in-out;
}

.loading_page_element_done {
    opacity: 0;
}

.create_server_text {
    font-size: 0.5em;
}

.create_server_link {
    text-decoration: solid 1.5px underline var(--cb-color-white);
    
    color: var(--cb-color-white);

    transition: text-decoration 0.25s ease-in-out, color 0.25s ease-in-out;
}

.create_server_link:hover {
    cursor: pointer;

    text-decoration: solid 1.5px underline var(--cb-color-cyan);
    color: var(--cb-color-cyan);
}

.fonts1 { font-size: 0.2em; }
.fonts2 { font-size: 0.4em; }
.fonts3 { font-size: 0.6em; }
.fonts4 { font-size: 0.8em; }
.fontn { font-size: 1em; }

.fontm1 { font-size: 1.2em; }
.fontm2 { font-size: 1.4em; }
.fontm3 { font-size: 1.6em; }
.fontm4 { font-size: 1.8em; }
.fontm5 { font-size: 2em; }

.explore_box_full_div {    
    width: 100%;
    height: 100%;

    display: grid;
    
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    grid-row: 1 / 4;
}

.center_both {
    display: flex;
    
    flex-direction: column;

    align-items: center;
}

.grid_11 {
    grid-row: 1;
    grid-column: 1;
}

.dropzone {
    width: 3em;
    height: 3em;

    padding-bottom: 3em;
    
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='white' stroke-width='7' stroke-dasharray='50%25%2c 13%25' stroke-dashoffset='89' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 100%;

    transform: rotateZ(0deg);

    transition: transform 0.25s ease-in-out;
}

.dropzone:hover {
    cursor: pointer;

    transform: rotateZ(45deg);
}

.dropzone_image {
    pointer-events: none;

    position: absolute;

    top: 3.85em;
    width: calc(3em);
    height: calc(3em);

    z-index: 2;

    border-radius: 100%;
}

.dropzone_image_self {
    pointer-events: none;

    width: calc(3em);
    height: calc(3em);
    padding: 0.2em;
    object-fit: cover;
    border-radius: 100%;
}

.image_alt_text {
    color: var(--cb-color-white-soft);

    font-size: 0.6em;
}

.explore_box_left_bottom {
    position: absolute;

    right: auto;
    top: auto;
    left: 1em;
    bottom: 1em;
}

.explore_box_right_bottom {
    position: absolute;

    left: auto;
    top: auto;
    bottom: 1em;
    right: 1em;
}


.ow_hidden_both {
    overflow-x: hidden;
    overflow-y: hidden;
    overflow: hidden;
}

.wh_full { width: 100%; height: 100%;}
.abs { position: absolute; }
.transition_right { transition: right 0.5s ease-in-out; } 
.transition_transform { transition: transform 1s ease-in-out; }

.explore_box_slide {
    grid-row: 1;
    grid-column: 1;
}

.explore_box_button_disabled {
    border-color: var(--cb-color-gray);

    color: var(--cb-color-gray);
}

.explore_box_button_disabled:hover {
    cursor: not-allowed;
}

.category {
    display: flex;

    justify-content: space-between;
    align-items: center;

    flex-direction: row;

    font-size: 0.8em;

    color: var(--cb-color-black);
    margin-left: 1em;
    margin-top: 0.2em;
}

.category_add_icon {
    margin-right: 0.5em;

    background: transparent;

    border-radius: 100%;

    transform: rotateZ(0deg);

    transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.category_add_icon:hover {
    cursor: pointer;
    background: var(--cb-color-gray-lighter);
    box-shadow: 0 0 0 0.1em var(--cb-color-gray-lighter);
}

.category_add_icon_active {
    transform: rotateZ(45deg);
}

.createbox {
    display: flex;
    position: absolute;

    justify-content: center;
    align-items: center;

    flex-direction: column;

    left: 3em;

    padding: 0.4em;

    background: var(--cb-color-black-transparent);

    border: 0.2em var(--cb-color-black-transparent-soft) solid;
    border-radius: 8px;

    opacity: 0;

    pointer-events: none;

    transition: opacity 0.25s ease-in-out;
}

.createbox_active {
    pointer-events: all;
    opacity: 1;
}

.createbox_button {
    background: var(--cb-color-black);

    width: 12em;
    padding: 0.2em;

    border: none;
    border-radius: 8px;

    font-size: 0.6em;
    margin-top: 0.2em;

    transition: background 0.25s ease-in-out;
}

.createbox_button:hover {
    cursor: pointer;
    background: var(--cb-color-black-transparent);
}

.createbox_button :first {
    margin-top: 0em;
}